.header {
    padding: 15px 0;
    top: 0px;
left: 0px;
width: 1366px;
height: 60px;
background: #A03037 0% 0% no-repeat padding-box;
opacity: 1;
}
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.logo-content {
    display: flex;
    flex-direction: row;
    align-items: auto;
    border: 0px solid green;
    width: 75%;
    margin-right: 280px;
}
.logo-content-img {
    border: solid 0px #42515f;
}
.address-text {
    font: normal normal bold 28px/32px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    color:yellow;
    margin-left: 4px;
    text-transform: capitalize;
}
.address-book {
    color:black;
}
.head-text {
    display: flex;
    flex-direction: row;
    text-align: left;
    border: 0px solid;
}
.header-links{
    display: flex;
    font-weight: bold;
}
.header-links ul li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    background-color: brown;
}
.header-links ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0px 15px;
}
.header-links ul li a:hover {
    color: #fffc3c;
}
img {
    height: 50px;
    width: 50px;
    background-color: beige;
}